/* Class Selector */
.color-title {
    font-weight: normal;
}

/* Elementor selector */
img {
    height: 200px; width: 200px;
}

/* ID Selector */
#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}